
.search-input{
    padding: 15px 13px;
    width: 275px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    outline: none;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 60px;
    opacity: 0.5;
}

/* .search-box::before{
    content: "";
    width: 25px;
    height: 25px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
  
} */


.support-box{
    display: flex;
    align-items: center;
    
}

.support-title{
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.support-left-top{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.name-box{
    margin-right: 10px;
}

.in{
    width: 343px;
}

.input{   
    padding: 18px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    outline: none;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    opacity: 0.5;
}

.input:focus{
    box-shadow: 0 0 1px 0 #545454;
}

.email-input{
    margin-bottom: 10px;
    width: 696px;
}

.feedback{
    margin-bottom: 20px;
}

textarea{
    resize: none;
    width: 696px;
    height: 180px;
}

.location-list{
    margin: 0;
    margin-left: 10px;
    margin-bottom: 135px;
    padding: 30px 25px 20px 25px;
    width: 494px;
    background: #F6F6F6;
    border-radius: 10px;
    list-style: none;
}

.location-item{
    border-bottom:  1px solid #D2D2D2;
    margin-bottom: 20px;
    
}
.location-item:nth-child(3){
    border-bottom: none;
    margin-bottom: 0;
}

.location-title{
    margin: 0;
    margin-bottom: 20px 0 7px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.support-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}


.btn-box{
    margin-left: 550px;
    margin-bottom: 100px;
}

.btn{
    margin-left: 556px;
    margin-bottom: 117px;
    padding: 17px 30px;
    background: #7297EF;
    border-radius: 10px;
    font-family: "Rubik",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
}

